.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 50vw;
  margin: 20px auto;
}
.game > h1 {
  font-size: 2rem;
  margin-bottom: 150px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 50%;
  height: 50%;
}
.board > button {
  height: 120px;
  cursor: pointer;
  font-size: xx-large;
}
.board>button:disabled{
  background-color: #f5f5f5;
  color: #000;
}

.status {
  width: 50%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.status > button {
  height: 40px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.status > button:hover {
  background-color: #d9d2d2;
}
